<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>FutAgenda</title>
</head>

<body>
    <div class="fundoNav">
        <div class="top">
            <img src="../public/images/FutAgenda.png" width="120px" height="115px" alt="">
            <nav class="navbar ">
                <div class="navitem">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="../view/login.html">login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container formulario">
        <form action="../controller/cadastroHorarios.php" method="POST">
            <div class="mb-3 mt-3">
                <label for="horaInicial" class="form-label">Hora inicial:</label>
                <input type="time" class="form-control" required id="horaInicial" placeholder="Digite a hora inicial"
                    name="horaInicial">
            </div>
            <div class="mb-3">
                <label for="horaFinal" class="form-label">Hora final:</label>
                <input type="time" class="form-control" required id="horaFinal" placeholder="Digite a hora final"
                    name="horaFinal">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="../view/login.html"><button type="button" class="btn btn-outline-success">Login</button>
        </form>
    </div>

    <div class="footer mt-5 p-4 text-white text-center">
        <p></p>
    </div>
</body>

</html>